<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Isaac's Site</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/FooterBottom.css" rel="stylesheet" />

</head>
<body>
    <div id="wrapper">
        <nav class="navbar fixed-top navbar-expand-md navbar-dark navbar-footer-color">
            <div class="container">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">Isaac's Site</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">

                        <!--Resume link-->
                        <li class="nav-item active">
                            <a class="nav-link" href="@Url.Action("Resume", "Home")">Résumé</a>
                        </li>

                        <!--Classes link-->
                        <li class="nav-item active">
                            <a class="nav-link" href="@Url.Action("Index", "Courses")">Courses</a>
                        </li>

                        <!--GitHub link-->
                        <li class="nav-item active">
                            <a class="nav-link" href="https://github.com/IsaacYocum/MyWebsite"><i class="fa fa-github"></i> GitHub</a>
                        </li>

                        <!--LinkedIn link-->
                        <li>
                            <a class="nav-link" href="https://www.linkedin.com/in/isaacyocum/"><i class="fa fa-linkedin-square"></i> LinkedIn</a>
                        </li>

                        <!--Games dropdown links-->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Games
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="@Url.Action("TicTacToe", "Game")">Tic Tac Toe</a>
                                <div class="dropdown-item">Another action</div>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>

                        <!--Themes dropdown links-->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Themes
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="@Url.Action("Theme1", "Themes")">Olivia Misa</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>

                        <!--Roles dropdown links-->
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item active">
                                <a class="nav-link" href="@Url.Action("Index", "Roles")">Roles</a>
                            </li>
                        }
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </nav>

        <div class="container body-content">
            @RenderBody()
            <hr />
            <div class="footer-content navbar-footer-color">
                <footer>
                    <div class="container">
                        <p>&copy; @DateTime.Now.Year - My Website</p>
                    </div>
                </footer>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
